/* Start Variables */
:root {
  /* ## Colors ``` */
  --color1: #272725;
  --color2: #ffffff;
  --color3: #949189;
  --color4: #949189;
  /* ## Typography  */
  --fs-1: calc(2.3rem + 1.1vw);
  --fs-2: calc(2.1rem + 0.8vw);
  --fs-3: calc(2rem + 0.3vw);
  --fs-4: 2rem;
  --fs-5: 1.8rem;
  --fs-6: 1.5rem;
  --fs-7: 1.4rem;
  --fs-8: 1.3rem;
  --fs-9: 1.2rem;
  /* ## Spacing  */
  --section-padding: 50px 0;
  --section-margin: 50px 0;
  /* ## Border Radius  */
  --radius-circle: 50%;
  --radius-5: 5px;
  --radius-8: 8px;
  --radius-16: 16px;
  /* ## Transition  */
  --transition1: 0.25s ease;
  --transition2: 0.3s ease;
  --transition3: 0.5s ease;
  --transition4: 0.7s ease;
}
/* End Variables */
/* Start Global rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
}
body.hidden {
  overflow: hidden;
}
html,
body {
  width: 100%;
  height: 100%;
  background-color: var(--color1);
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* SMALL */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* MEDIUM */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* LARGE */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global rules */
header {
  padding: 30px 0;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.r-s {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.logo {
  font-size: 35px;
  font-weight: 600;
  color: var(--color2);
  z-index: 5;
}
.nav-links ul li {
  display: inline-block;
}
.nav-links ul li a {
  color: var(--color2);
  padding: 15px;
  font-size: 16px;
}
.social-links a {
  color: var(--color2);
  font-size: 20px;
  margin: 10px;
}
.bookroom-btn button {
  background-color: var(--color4);
  border: none;
  color: var(--color2);
  padding: 17px 30px;
  cursor: pointer;
  transition: var(--transition1);
}
.bookroom-btn button:hover {
  opacity: 0.8;
}
.nav-toggle {
  display: none;
}
/* Start Header */

/* End Header */
/* Start Main */
.main-cnt {
  padding: var(--section-padding);
}
.main-cnt h1 {
  color: var(--color2);
  font-size: var(--fs-1);
}
.maincnt-img img {
  max-width: 100%;
}
/* End Main */
/* Start Classes */
.classes {
  padding: var(--section-padding);
}
.rw {
  margin: 100px 0;
  display: flex;
  align-items: center;
  gap: 4rem;
  max-width: 100%;
}
.rw .img img {
  max-width: 100%;
}
.info {
  color: var(--color2);
}
.info h1 {
  font-size: var(--fs-2);
  font-weight: 600;
}
.info p {
  font-size: var(--fs-9);
  line-height: 35px;
  width: 450px;
  max-width: 100%;
  margin-bottom: 40px;
}
.info button {
  background-color: var(--color4);
  border: none;
  color: var(--color2);
  padding: 25px 35px;
  cursor: pointer;
  transition: var(--transition1);
  font-weight: 600;
}
.info button:hover {
  opacity: 0.8;
}
/* End Classes */

/* Start Comments */
.comments {
  padding: var(--section-padding);
}
.comments-cnt {
  color: var(--color2);
  width: 70%;
  margin: auto;
  display: flex;
  gap: 2rem;
}
.cmt h2 {
  font-size: var(--fs-3);
  line-height: 50px;
  font-weight: 600;
}
.cmt span {
  display: inline-block;
  font-size: var(--fs-8);
  line-height: 50px;
  font-weight: 300;
  margin-top: 40px;
}
/* End Comments */

/* Start Cta */
.cta {
  padding: var(--section-padding);
}
.cta-cnt {
  padding: 100px;
  background-color: var(--color3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.cta-cnt h1 {
  color: var(--color2);
  font-size: var(--fs-2);
  min-width: 250px;
}
.cta-cnt button {
  margin-top: 40px;
  background-color: var(--color2);
  border: none;
  color: var(--color3);
  padding: 25px 35px;
  cursor: pointer;
  transition: var(--transition1);
  font-weight: 600;
}
.cta-cnt button:hover {
  opacity: 0.8;
}
/* End Cta */

/* Start Footer */
footer {
  width: 100%;
  height: 30vh;
}
.footer-cnt {
  padding: var(--section-padding);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 2rem;
}
.col-one {
  margin-right: auto;
}
.col .title a {
  color: var(--color2);
  font-size: var(--fs-4);
  font-weight: 600;
}
.social-icon {
  margin-top: 30px;
}
.social-icon a {
  color: white;
  margin-right: 15px;
  font-size: 20px;
}
.col ul li {
  text-align: left;
}
.col ul {
  margin-right: 50px;
}
.col ul li a {
  color: var(--color4);
  text-decoration: underline;
}
.col span {
  color: var(--color2);
  display: block;
  font-weight: 400;
  margin-bottom: 5px;
}
.col .name {
  color: var(--color4);
  font-weight: 400;
  font-size: 15px;
}
/* End Footer */
/* MEDIA QEURY */
@media (max-width: 992px) {
  .r-s {
    background-color: var(--color1);
    flex-direction: column;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    z-index: 2;
    opacity: 0;
    transition: var(--transition3);
    transform: translateY(100px);
    gap: 3rem;
  }
  .r-s.show {
    transform: translateY(0);
    opacity: 1;
  }
  .nav-links ul li {
    display: block;
    padding: 20px;
    transition: var(--transition3);
  }
  .main-cnt h1 {
    font-size: var(--fs-2);
  }
  .nav-toggle {
    width: 50px;
    height: 50px;
    border-radius: var(--radius-circle);
    display: grid;
    place-content: center;
    gap: 8px;
    z-index: 2;
  }
  .nav-toggle .line {
    background-color: var(--color2);
    width: 25px;
    height: 2px;
    transition: var(--transition2);
  }
  .nav-toggle.active .line-1 {
    transform: rotate(45deg) translate(5px, 4px);
  }
  .nav-toggle.active .line-2 {
    transform: rotate(-45deg) translate(3px, -2px);
  }
  .cmt h2 {
    font-size: var(--fs-3);
    line-height: 50px;
    font-weight: 600;
  }
  .classes {
    margin: 0;
  }
  .rw {
    margin: var(--section-margin);
    flex-wrap: wrap;
    gap: 2rem;
  }
  .rw .img {
    order: 0;
  }
  .info {
    order: 1;
  }
  .info p {
    width: 100%;
    max-width: 100%;
  }
  .main-cnt,
  .classes {
    padding: 0;
  }
  .comments-cnt {
    flex-wrap: wrap;
  }
  .cmt h2 {
    font-size: var(--fs-5);
  }
  .footer-cnt {
    justify-content: flex-start;
  }
}
